img {
    width: 30%; 
    /* 30%*3=90% --> 10% */
    margin: calc(10%/7);
}
nav{
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/7);
    padding: 1.2em 0;

}